<h1 *ngIf="!!this.isEdit">Employee info: {{employeeInfo?.firstName}}</h1>
<form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
<table class="table table-striped">
    <tbody>
        <tr>
            <th>First Name</th>
            <td *ngIf="!this.isEditAdd">{{employeeInfo?.firstName}}</td>
            <td *ngIf="!!this.isEditAdd">
                <input type="text" name="firstName" class="form-control" formControlName="firstName">
            </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td *ngIf="!this.isEditAdd">{{employeeInfo?.lastName}}</td>
            <td *ngIf="!!this.isEditAdd">
                <input type="text" name="lastName" class="form-control" formControlName="lastName">
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td *ngIf="!this.isEditAdd">{{employeeInfo?.email}}</td>
            <td *ngIf="!!this.isEditAdd">
                <input type="email" name="email" class="form-control" formControlName="email">
            </td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td *ngIf="!this.isEditAdd">{{employeeInfo?.mobile}}</td>
            <td *ngIf="!!this.isEditAdd">
                <input type="number" name="mobile" class="form-control" formControlName="mobile">
            </td>
        </tr>
        <tr>
            <th>Salary</th>
            <td *ngIf="!this.isEditAdd">{{employeeInfo?.salary}}</td>
            <td *ngIf="!!this.isEditAdd">
                <input type="number" name="salary" class="form-control" formControlName="salary">
            </td>
        </tr>
        <tr>
            <th colspan="2" class="text-center">
                <button type="button" class="btn btn-primary" *ngIf="!this.isEditAdd" (click)="editEmployee(employeeInfo.id)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="submit" class="btn btn-success" *ngIf="!!this.isEditAdd" [disabled]="employeeForm.invalid">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning" (click)="redirectToEmployeeList()">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button>
            </th>
        </tr>
    </tbody>

</table>
</form>