<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Salary</th>
            <th>
                Action
                <button type="button" class="btn btn-success" (click)="addEmployee()">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeList;">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.salary}}</td>
            <td class="actions">
                <button type="button" class="btn btn-primary" (click)="viewEmployee(employee.id)">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </button>
                <button type="button"  class="btn btn-warning" (click)="editEmployee(employee.id)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>