<table>
    <caption>
        <button type="button" (click)="addEmployee()">Add</button>
    </caption>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let employee of employeeList;">
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.mobile}}</td>
        <td>{{employee.salary}}</td>
        <td>
            <button type="button" (click)="viewEmployee(employee.id)">View</button>
            <button type="button" (click)="editEmployee(employee.id)">Edit</button>
            <button type="button" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
    </tr>
</table>